@use '../../scss/utils/' as *;

.skill {
    h1{
        color:var(--main-color);
        text-align: center;
    }

    &__container{
        display: flex;
        gap: 1.5rem;
        @include mobile {
            flex-direction: column;
            align-items: center;
        }
    }

    &__ctx {
        h1 {
            color: var(--main-color);
            text-align: center;
        }

            
        &__skill-name{
            display: flex;
            flex-flow: wrap;
            gap: 1rem;

            .skill-span {
                border: solid 2px var(--main-color);
                padding: 0.5rem;
                border-radius: 15px;

                &:hover {
                    background: var(--main-color);
                    color: black;
                }
            }
        }
    }


}